

@keyframes example {
  0%   {opacity: 0;}
  100% {opacity: 100%;}
}

.appear-1 {
    animation-name: example;
    animation-duration: 1s;
}
.appear-2 {
    animation-name: example;
    animation-duration: 2s;
}
.appear-3 {
    animation-name: example;
    animation-duration: 3s;
}

/* -------------------- animations ------------------ */
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;

    
    font-family: 'Rubik', sans-serif;
}

.container {
    margin:20px 150px;
    /* background: aqua; */
}

.header {
    display: flex;
    flex-direction: row;
    /* background: rgba(255, 255, 0, 0.461); */
    justify-content: space-between;
    margin-top: 40px;
}

.header__hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background: rgb(255, 141, 141); */
}

.header__logo {
    width: 35px;
    height: 36.23px;
    margin-right: 10px;

}

.logo_slogan { font-weight: 500; font-size: 20px;}


.header__nav {
    width: 500px;
    /* background-color: rgba(79, 79, 255, 0.316); */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.header__navlink {
    text-decoration: none;
    color: #4F5665;
    font-size: 16px;
    font-weight: 400;

}

.header__auth {
    /* background-color: rgba(255, 166, 0, 0.471); */
    display: flex;
    align-items: center;
}


.header__signinbutton {
    border: none;
    background: none;
    color: #0B132A;
    font-size: 16px;
    font-weight: 500;
    margin-right: 30px;
}


.header__signupbutton {
    width: 150px;
    height: 45px;
    border-radius: 50px;
    background: none;
    border: 1px solid #F53855;
    color: #F53855;
    font-weight: 500;
    font-size: 16px;
    transition: .1s ease-in-out;
}


.header__signupbutton:hover {
    background: #F53838;
    color: white;
}

/* -------------------------- SECTION 1 ------------------------- */

.section-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 40px;
    margin-top: 195px;

}

.textblock {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 550px;
}


.textblock__heading {
    font-size: 50px;
    font-weight: 700;
    text-align: start;
    margin-bottom: 0;
    line-height: 60px;
    width: 555px;
}

.textblock_paragraph {
    margin-top: 20px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 200;
    text-align: start;
    color: #4F5665;
}

.textblock__button {
    width: 250px;
    height: 60px;
    margin-top: 30px;
    border-radius: 10px;
    background: #F53838;
    color: white;
    border: none;
    font-size: 16px;
    transition: .1s ease-in-out;
}

.button_n_shadow {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
    left:-35px;
}

.button_shadow {
    margin-top: -100px;
    z-index: -1;
}

.section1__img {

}


/* ---------------------- STATISTICS ROW ----------------------- */

.stats_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 170px;
    justify-content: space-between;
    padding: 0 91px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 150px;

    -webkit-box-shadow: 8px 20px 45px 8px rgba(34, 60, 80, 0.2); 
    -moz-box-shadow: 8px 20px 45px 8px rgba(34, 60, 80, 0.2); 
    box-shadow: 8px 20px 45px 8px rgba(34, 60, 80, 0.2);
}

.stat {
    display: flex;
    flex-direction: row;
}

.stat_point {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 37px;
    align-items: start;


}

.stat_num {
    font-size: 25px;
    font-weight: 700px;
    line-height: 30px;
    margin: 0;


}

.stat_word {
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    margin: 0;
    margin-top: -5px;
    color: #4F5665;
}

.separator_vertical {
    height: 125px;
}

.round-frame {
    position: relative;
    width: 55px;
    height: 55px;
    background-image: url(/img/Icons/circle.svg);
    background-position: center;
    background-size: cover;
}

.stat_icon {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    display: block;
    margin: auto;
}


.stats_shadow {
   
}


/* -------------------------- SECTION 2 ---------------------- */


.section-2 {
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    column-gap: 169px;
    padding-bottom: 135px;

}


.features_block {
    align-items: start;
}

.features_heading {
    text-align: start;
    width: 383px;
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

.features_paragraph {
    color: #4F5665;

    margin-top: 20px;
    font-size: 16px;
    font-weight: 200;
    text-align: start;
    width: 427px;
    line-height: 30px;
}

.feature {
    color: #4F5665;
    display: flex;
    font-weight: 300;
    font-size: 16px;
    column-gap: 12px;
    margin-top: 30px;
    align-items: center;
}




/* ------------------------- PLANS SECTION -------------------- */


.plans-section {
    padding: 0 250px;
    text-align: center;
    align-items: center;
}

.plans-section__heading {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
}

.plans-section__subheading {
    margin-top: 30px;
    font-weight: 400;
    font-size: 16px;
    color: #4F5665;
    width: 555;
}

.plans {
    margin-top: 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row; 
    justify-content: space-around;
    column-gap: 30px;

}

.plan-card {
    height: 630px;
    
    background: #FFFFFF;
    border: 2px solid #DDDDDD;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 75px;
    justify-content: space-between;
    transition: .2s ease-in-out;
}

.plan-card:hover {
    border: 2px solid #F53838;
    transform: scale(1.01);
}

.plan-img {
    margin-top: 58px;
}

.plan-features {
    margin-top: 30px;
}

.plan_name {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 30px;
}

.feature-text {
    width: 500px;
}

.price_n_select {
    margin-bottom: 30px;

    
}

.price {
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
}


.select-plan-btn {
    margin-top: -5px;
    width: 177.88px;
    height: 45px;
    left: 251.06px;
    top: 2441.55px;

    border: 2px solid #F53838;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    background: none;

    color: #F53838;
    transition: 0.1s ease-in-out;
}

.select-plan-btn:hover {
    background: #F53838;
    color: white;
}



/* ------------------------- MAP SECTION --------------------- */


.map-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-section__heading {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;
    width: 683.41px;

}

.map-section__subheading {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #4F5665;
}

b {
    font-weight: 700;
}

.map-img {
    margin-top: 76px;
}

.sponsors {
    margin-top: 60px;
}



/* ------------------- CUSTOMERS SECTION ------------- */

.customers-section {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customers-section__heading {
    font-weight: 600;
    font-size: 35px;
    line-height: 50px;

}

.customers-section__subheading {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #4F5665;
    width: 600px;
}

.customers-carousel {
    margin-top: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: start;

    column-gap: 30px;
    width: 100%;
    padding-left: 150px;

    overflow-x: auto;

    max-width: 100%;
    overflow-y: hidden;
    margin-bottom: 100px;
    
    
}

.customer-card {
    width: 400px;
    min-width: 400px;
    height: 180px;
    left: 600px;
    top: 4094.25px;

    border: 2px solid #DDDDDD;
    border-radius: 10px;
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    transition: .1s ease-in-out;

}

.customer-card:hover {
    border: 2px solid #F53838;
    transform: scale(1.01);

}

.customer-card:last-of-type {
    background: #00000063;

    
    
}


.customer-card__bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.customer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin-left: 15px;
    left: 0;

}

.customer_name {
    font-weight: 500;
    font-size: 18px;

}

.customer-location {
    font-weight: 200;
    font-size: 14px;
    margin-top: 5px;
    color: #4F5665;

}

.rating {
    font-weight: 400;
    font-size: 16px;
}

.customer_rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 6px;
    
}

.star {
    padding-bottom: 2px;
}

.left_bio {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customer-comment {
    text-align: start;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin-top: 15px;
}

.empty-space {
    min-width: 100px;
}




/* ---------------------- FOOTER ------------------- */

.footer {
    background: #F8F8F8;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    margin: 0 150px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hero-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

.footer-hero__small-text {
    margin-top: 30px;
    margin-left: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #4F5665;
}

.socnet_row {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin-left: -10px;
    margin-top: 40px;
}

.soc-frame {
    position: relative;
    width: 54px;
    height: 64px;
    background-image: url(/img/orange-circle.svg);
    background-position: center;
    background-size: cover;


}

.soc-icn {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 23px;

    display: block;
    margin: 2px 10px;
}

.copyright-label {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #AFB5C0;
    margin-top: 20px;
}


.footer__links-col {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    align-items: start;

}


.footer-link {
    text-decoration: none;
    color: #4F5665;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;

    margin-top: 15px;


}


/* ------------------- SUBSCRIBE CARD ------------------ */

.subscribe-card {
    position: relative;
    bottom: 100px;
    width: 70%;
    background: #ffffff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

    -webkit-box-shadow: -3px 4px 39px 8px rgba(34, 60, 80, 0.1); 
    -moz-box-shadow: -3px 4px 39px 8px rgba(34, 60, 80, 0.1); 
    box-shadow: -3px 4px 39px 8px rgba(34, 60, 80, 0.1);

}


.subscribe-card-left {
    text-align: start;
    margin-left: 45px;

}

.subscribe-card-btn {
    width: 250px;
    height: 60px;
    background: #F53838;
    border-radius: 10px;
    color:white;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    border: none;
    margin-right: 45px;
    transition: .1s ease-in-out;
}

.subscribe-card-heading {
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    

}

.subscribe-card-subheading {
    font-weight: 200;
    font-size: 16px;
    line-height: 30px;
    margin-top: 10px;
}

.delay-1 { animation-delay: 0.6s; }  
.delay-2 { animation-delay: 0.7s; }
.delay-3 { animation-delay: 0.8s; }



.foot-section {
    background: #F8F8F8;
    padding-bottom: 50px;
}

.btn-zoom:hover {
    transform: scale(1.05);
}